html {
    font-size: 10px;
}

h1 {
    font-family: 'billabong'
}

@font-face {
    font-family: 'billabong';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');

}